flows.json
[{"id":"a411128a.736db","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cdf25163.af844","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"f283227b.1871","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9d299cb2.d79be","type":"ui_group","z":"","name":"General Buttons","tab":"927b70ae.68a6","order":1,"disp":false,"width":7,"collapse":false},{"id":"927b70ae.68a6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"52673d24.ea5c94","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"b1d0597b.feef68","type":"ui_spacer","name":"spacer","group":"f22eb397.13d9b","order":2,"width":1,"height":1},{"id":"f22eb397.13d9b","type":"ui_group","z":"","name":"Circuitos","tab":"","disp":true,"width":"6","collapse":false},{"id":"5866dbf8.e034d4","type":"ui_tab","z":"","name":"Circuitos","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"efd1d33c.61b5d","type":"ui_tab","z":"","name":"Bateria","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"19989f19.9ad2e1","type":"ui_tab","z":"","name":"Histórico","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"2cb5c377.4adccc","type":"ui_tab","z":"","name":"Configurações","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"67687913.25f408","type":"ui_group","z":"","name":"Informações Bateria Instalada","tab":"efd1d33c.61b5d","order":1,"disp":true,"width":6,"collapse":false},{"id":"8eb6178c.66c488","type":"ui_group","z":"","name":"Group 1","tab":"2cb5c377.4adccc","order":4,"disp":false,"width":6,"collapse":false},{"id":"b77582a9.eddbc","type":"ui_group","z":"","name":"General View","tab":"927b70ae.68a6","order":2,"disp":false,"width":"6","collapse":false},{"id":"897f76ab.580258","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"CC_Grid","tz":""},{"id":"766e0bf.67d67f4","type":"ui_group","z":"","name":"Group 2","tab":"2cb5c377.4adccc","order":2,"disp":false,"width":5,"collapse":false},{"id":"acc16daf.c164d","type":"ui_group","z":"","name":"Group 3","tab":"2cb5c377.4adccc","order":3,"disp":false,"width":5,"collapse":false},{"id":"fdf02859.248d38","type":"ui_group","z":"","name":"Group 2","tab":"efd1d33c.61b5d","order":3,"disp":false,"width":11,"collapse":false},{"id":"487b50c5.f7e1f","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"5efc2e4c.72402","type":"ui_spacer","name":"spacer","group":"9d299cb2.d79be","order":3,"width":1,"height":1},{"id":"731cabc6.a12c34","type":"ui_spacer","name":"spacer","group":"9d299cb2.d79be","order":4,"width":1,"height":1},{"id":"259ae411.cf53fc","type":"ui_spacer","name":"spacer","group":"9d299cb2.d79be","order":5,"width":1,"height":1},{"id":"4f754c34.96dc04","type":"ui_spacer","name":"spacer","group":"9d299cb2.d79be","order":8,"width":1,"height":1},{"id":"50e3ae0.be40f54","type":"ui_spacer","name":"spacer","group":"9d299cb2.d79be","order":9,"width":1,"height":1},{"id":"8dc7ef8f.ebb0c","type":"ui_spacer","name":"spacer","group":"9d299cb2.d79be","order":10,"width":1,"height":1},{"id":"f86d72e1.515a7","type":"ui_spacer","name":"spacer","group":"b77582a9.eddbc","order":5,"width":1,"height":1},{"id":"e2f8772e.c2a8d8","type":"ui_spacer","name":"spacer","group":"b77582a9.eddbc","order":7,"width":1,"height":1},{"id":"229b5a70.fa0a36","type":"ui_spacer","name":"spacer","group":"b77582a9.eddbc","order":8,"width":1,"height":1},{"id":"1099bda2.e547c2","type":"ui_spacer","name":"spacer","group":"b77582a9.eddbc","order":9,"width":1,"height":1},{"id":"118e9e48.073282","type":"ui_spacer","name":"spacer","group":"b77582a9.eddbc","order":10,"width":1,"height":1},{"id":"58fd7ab4.7bb634","type":"ui_spacer","name":"spacer","group":"b77582a9.eddbc","order":11,"width":1,"height":1},{"id":"9168081.c16b2f8","type":"ui_spacer","name":"spacer","group":"b77582a9.eddbc","order":12,"width":1,"height":1},{"id":"2d692af9.d88746","type":"ui_spacer","name":"spacer","group":"b77582a9.eddbc","order":13,"width":1,"height":1},{"id":"cd73a2a9.a8759","type":"ui_group","z":"","name":"Group 4","tab":"2cb5c377.4adccc","order":1,"disp":false,"width":"5","collapse":false},{"id":"6ac6b4b0.48029c","type":"ui_group","z":"","name":"Tipo de Relatório e Critérios","tab":"19989f19.9ad2e1","order":2,"disp":true,"width":6,"collapse":false},{"id":"67ca3c0.57054c4","type":"ui_tab","z":"","name":"Painel de Controle e Visualização","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"f6f9c9a.1fa5f38","type":"ui_group","name":"Group 1","tab":"67ca3c0.57054c4","order":1,"disp":true,"width":6},{"id":"acd5327a.9813b","type":"ui_spacer","name":"spacer","group":"629191f0.79661","order":4,"width":1,"height":1},{"id":"67c9ccf4.48b8d4","type":"ui_group","z":"","name":"Circuito escolhido","tab":"5866dbf8.e034d4","order":1,"disp":false,"width":4,"collapse":false},{"id":"ddc090e9.aba85","type":"ui_spacer","name":"spacer","group":"bf5cc4c9.55bcb8","order":1,"width":1,"height":1},{"id":"4ef3b77c.458f58","type":"ui_group","z":"","name":"Circuito escolhido - 2","tab":"5866dbf8.e034d4","order":5,"disp":false,"width":4,"collapse":false},{"id":"db9097aa.5da1f8","type":"ui_group","z":"","name":"FaseA","tab":"5866dbf8.e034d4","order":2,"disp":true,"width":"4","collapse":false},{"id":"2f846e75.46c112","type":"ui_group","z":"","name":"Fase B","tab":"5866dbf8.e034d4","order":3,"disp":true,"width":4,"collapse":false},{"id":"c7918267.4271f","type":"ui_group","z":"","name":"Fase C","tab":"5866dbf8.e034d4","order":4,"disp":true,"width":4,"collapse":false},{"id":"91c3e6bf.8668b8","type":"ui_spacer","name":"spacer","group":"67687913.25f408","order":7,"width":11,"height":1},{"id":"a766bfe4.b9ffe","type":"ui_group","z":"","name":"Default","tab":"73472894.515358","disp":true,"width":"6","collapse":false},{"id":"73472894.515358","type":"ui_tab","z":"","name":"Start","icon":"dashboard"},{"id":"e1c115e4.93a0a8","type":"ui_group","z":"","name":"Table","tab":"19989f19.9ad2e1","order":3,"disp":false,"width":"14","collapse":false},{"id":"da509dfe.7182e","type":"ui_spacer","name":"spacer","group":"8eb6178c.66c488","order":6,"width":6,"height":1},{"id":"f566a1e1.4c9ce","type":"ui_spacer","name":"spacer","group":"8eb6178c.66c488","order":7,"width":6,"height":1},{"id":"c56979d4.f93b58","type":"ui_spacer","name":"spacer","group":"8eb6178c.66c488","order":8,"width":6,"height":1},{"id":"f9711321.c205","type":"ui_group","z":"","name":"BarChart","tab":"19989f19.9ad2e1","order":4,"disp":false,"width":"14","collapse":false},{"id":"20b2c388.3350dc","type":"ui_spacer","name":"spacer","group":"6ac6b4b0.48029c","order":1,"width":6,"height":1},{"id":"d992cd22.be9","type":"ui_button","z":"a411128a.736db","name":"","group":"9d299cb2.d79be","order":1,"width":3,"height":3,"passthru":false,"label":"Circuitos","tooltip":"","color":"","bgcolor":"","icon":"fa-microchip","payload":"1","payloadType":"num","topic":"","x":200,"y":160,"wires":[["a1a286e9.961a98","a7db0c91.4856e"]]},{"id":"a1a286e9.961a98","type":"ui_ui_control","z":"a411128a.736db","name":"","events":"all","x":440,"y":220,"wires":[[]]},{"id":"68d75622.656c58","type":"comment","z":"a411128a.736db","name":"Design","info":"","x":70,"y":20,"wires":[]},{"id":"3a041ed6.deb312","type":"ui_button","z":"a411128a.736db","name":"","group":"9d299cb2.d79be","order":7,"width":3,"height":3,"passthru":false,"label":"Bateria","tooltip":"","color":"","bgcolor":"","icon":"fa-battery-full","payload":"2","payloadType":"num","topic":"","x":200,"y":200,"wires":[["a1a286e9.961a98","b70f1311.07471"]]},{"id":"587860d.b3be2a","type":"ui_button","z":"a411128a.736db","name":"","group":"9d299cb2.d79be","order":6,"width":3,"height":3,"passthru":false,"label":"Histórico","tooltip":"","color":"","bgcolor":"","icon":"fa-bar-chart","payload":"3","payloadType":"num","topic":"","x":200,"y":280,"wires":[["a1a286e9.961a98","7f14a9ff.bfdf18"]]},{"id":"30228820.11fb78","type":"comment","z":"a411128a.736db","name":"Menu Inicial","info":"","x":90,"y":80,"wires":[]},{"id":"930d1b4d.bd11e8","type":"ui_button","z":"a411128a.736db","name":"","group":"9d299cb2.d79be","order":2,"width":3,"height":3,"passthru":false,"label":"Configurações","tooltip":"","color":"","bgcolor":"","icon":"fa-cogs","payload":"4","payloadType":"num","topic":"","x":180,"y":240,"wires":[["a1a286e9.961a98","d19342b1.f976f"]]},{"id":"1b4a7520.5e24fb","type":"ui_text","z":"a411128a.736db","group":"b77582a9.eddbc","order":1,"width":6,"height":1,"name":"","label":"Consumo Acumulado Mensal:","format":"{{msg.payload[0].ActiveEnergy}} kWh","layout":"row-center","x":1190,"y":200,"wires":[]},{"id":"150c80d6.69b7af","type":"ui_text","z":"a411128a.736db","group":"b77582a9.eddbc","order":2,"width":0,"height":0,"name":"","label":"Modo de Operação:","format":"{{msg.payload[0].Status}}","layout":"row-center","x":1160,"y":260,"wires":[]},{"id":"102335c0.605f9a","type":"comment","z":"a411128a.736db","name":"Configurações","info":"","x":350,"y":1620,"wires":[]},{"id":"c26a3a18.d4cfe8","type":"ui_button","z":"a411128a.736db","name":"","group":"8eb6178c.66c488","order":9,"width":0,"height":0,"passthru":false,"label":"Salvar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":150,"y":3220,"wires":[["e9c5d105.db4b6"]]},{"id":"71d51a68.dbdcd4","type":"ui_button","z":"a411128a.736db","name":"","group":"8eb6178c.66c488","order":10,"width":0,"height":0,"passthru":false,"label":"Voltar ao Menu Inicial","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":200,"y":3260,"wires":[["b638af26.8a392"]]},{"id":"4f6e00dd.38974","type":"ui_text_input","z":"a411128a.736db","name":"autonomia","label":"","tooltip":"","group":"766e0bf.67d67f4","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":850,"y":1688,"wires":[["9f5341c2.615d2"]]},{"id":"5b335f02.2fc17","type":"ui_text","z":"a411128a.736db","group":"cd73a2a9.a8759","order":6,"width":0,"height":0,"name":"","label":"Controle de Prioridade: ","format":"","layout":"row-center","x":750,"y":1760,"wires":[]},{"id":"d9231627.aa97f8","type":"ui_dropdown","z":"a411128a.736db","name":"","label":"Circuito Crítico:","tooltip":"","place":"Select option","group":"cd73a2a9.a8759","order":10,"width":0,"height":0,"passthru":true,"options":[{"label":"Circuito 1","value":"1","type":"str"},{"label":"Circuito 2","value":"2","type":"str"},{"label":"Circuito 3","value":"3","type":"str"},{"label":"Circuito 4","value":"4","type":"str"}],"payload":"","topic":"","x":860,"y":1800,"wires":[["d4deb6b1.38e9e8"]]},{"id":"33f928fe.61bf18","type":"ui_dropdown","z":"a411128a.736db","name":"","label":"Nível 2:","tooltip":"","place":"Select option","group":"cd73a2a9.a8759","order":9,"width":0,"height":0,"passthru":true,"options":[{"label":"Circuito 1","value":"1","type":"str"},{"label":"Circuito 2","value":"2","type":"str"},{"label":"Circuito 3","value":"3","type":"str"},{"label":"Circuito 4","value":"4","type":"str"}],"payload":"","topic":"","x":840,"y":1840,"wires":[["e0958457.a96d28"]]},{"id":"e11f9e12.8db08","type":"ui_dropdown","z":"a411128a.736db","name":"","label":"Nível 3:","tooltip":"","place":"Select option","group":"cd73a2a9.a8759","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"Circuito 1","value":"1","type":"str"},{"label":"Circuito 2","value":"2","type":"str"},{"label":"Circuito 3","value":"3","type":"str"},{"label":"Circuito 4","value":"4","type":"str"}],"payload":"","topic":"","x":840,"y":1880,"wires":[["bd841a.f44e3be8"]]},{"id":"60c0f164.eb9c9","type":"ui_dropdown","z":"a411128a.736db","name":"","label":"Nível 4:","tooltip":"","place":"Select option","group":"cd73a2a9.a8759","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"Circuito 1","value":"1","type":"str"},{"label":"Circuito 2","value":"2","type":"str"},{"label":"Circuito 3","value":"3","type":"str"},{"label":"Circuito 4","value":"4","type":"str"}],"payload":"","topic":"nivel4","x":840,"y":1920,"wires":[["de984866.0fdba8"]]},{"id":"eb08d040.2510c","type":"ui_text","z":"a411128a.736db","group":"766e0bf.67d67f4","order":5,"width":0,"height":0,"name":"","label":"Horário Chaveamento diário:","format":"","layout":"row-center","x":760,"y":2176,"wires":[]},{"id":"87d529b8.5c3348","type":"ui_text_input","z":"a411128a.736db","name":"","label":"Horário Início:","tooltip":"","group":"766e0bf.67d67f4","order":6,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"","x":880,"y":2216,"wires":[["df18a943.bed8a8"]]},{"id":"f999cb57.c30558","type":"ui_text_input","z":"a411128a.736db","name":"","label":"Horário Fim:","tooltip":"","group":"766e0bf.67d67f4","order":7,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"","x":870,"y":2256,"wires":[["89ae29df.5f2bb8"]]},{"id":"9f5341c2.615d2","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"Autonomy","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":1688,"wires":[[]]},{"id":"d4deb6b1.38e9e8","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"Level1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1800,"wires":[[]]},{"id":"e0958457.a96d28","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"Level2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1840,"wires":[[]]},{"id":"bd841a.f44e3be8","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"Level3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1880,"wires":[[]]},{"id":"de984866.0fdba8","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"Level4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1920,"wires":[[]]},{"id":"df18a943.bed8a8","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"OffGrid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":2216,"wires":[[]]},{"id":"89ae29df.5f2bb8","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"OnGrid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1262,"y":2256,"wires":[[]]},{"id":"d19342b1.f976f","type":"function","z":"a411128a.736db","name":"Query-Config-Info","func":"/* envia a query de acesso a todos os dados de \nconfiguração que estão salvos no banco.\n*/\n\nmsg.topic = \"select * from Configuration Limit 1\"\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":1840,"wires":[["f0df0aa8.492ee8"]]},{"id":"f0df0aa8.492ee8","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":280,"y":1840,"wires":[["228bf39c.67d9ac"]]},{"id":"228bf39c.67d9ac","type":"function","z":"a411128a.736db","name":"Value_Atrib","func":"/* Recebe os resultados da query enviada \ne salva os valores em variaveis globais (tipo flow)\npara posterior acesso e escrita.\n*/\n\nflow.set(\"OffGrid\",60000*msg.payload[0].StartComutationOn_Off)\nflow.set(\"OnGrid\",60000*msg.payload[0].StartComutationOFF_On)\nflow.set(\"Autonomy\",msg.payload[0].MinTimeAutonomy)\nflow.set(\"Level1\",msg.payload[0].Level_1_Shutdown)\nflow.set(\"Level2\",msg.payload[0].Level_2_Shutdown)\nflow.set(\"Level3\",msg.payload[0].Level_3_Shutdown)\nflow.set(\"Level4\",msg.payload[0].Level_4_Shutdown)\nflow.set(\"NameCircuit1\",msg.payload[0].Circuit1Name)\nflow.set(\"NameCircuit2\",msg.payload[0].Circuit2Name)\nflow.set(\"NameCircuit3\",msg.payload[0].Circuit3Name)\nflow.set(\"NameCircuit4\",msg.payload[0].Circuit4Name)\nflow.set(\"StartPeakHour\",60000*msg.payload[0].StartPeakHour)\nflow.set(\"EndPeakHour\",60000*msg.payload[0].EndPeakHour)\nflow.set(\"ActivePricePeakHour\",msg.payload[0].ActivePricePeakHour)\nflow.set(\"ReactivePricePeakHour\",msg.payload[0].ReactivePricePeakHour)\nflow.set(\"ActivePriceNonPeakHour\",msg.payload[0].ActivePriceNonPeakHour)\nflow.set(\"ReactivePriceNonPeakHour\",msg.payload[0].ReactivePriceNonPeakHour)\nflow.set(\"RevenueDay\",msg.payload[0].RevenueDay)\nflow.set(\"OperationType\",msg.payload[0].OperationType)\nflow.set(\"PriceHiredPowerHP\",msg.payload[0].PriceHiredPowerHP)\nflow.set(\"PriceHiredPowerHFP\",msg.payload[0].PriceHiredPowerHFP)\nflow.set(\"PriceExceededPowerHFP\",msg.payload[0].PriceExceededPowerHFP)\nflow.set(\"PriceExceededPowerHP\",msg.payload[0].PriceExceededPowerHP)\nflow.set(\"HiredPower\",msg.payload[0].HiredPower)\nflow.set(\"SwitchingControlType\",msg.payload[0].SwitchingControlType)\nflow.set(\"PercentagePeakShavingHiredPower\",msg.payload[0].PercentagePeakShavingHiredPower)\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":2300,"wires":[["3d021bde.d6e8b4","a85c09b4.6c4ad8","7a25564f.820668","87335be.63c86a8","552858bf.44e2c8","a07a1989.f956e8","e049f7b9.662318","ef3b1699.883fc8","8cd90e2e.d5105","c7e5efad.9e591","aa47075c.0295f8","6624d5d9.20dcfc","2ae4b828.2ab578","7ca66c61.8deb14","afb7a974.0eaf28","1ea3cb66.55e3b5","8236b36a.fb9be","5d79ea92.be5624","f44f849d.8fee08","2236ab1d.c170c4","91165cdc.2a5aa","f9e8ca.22c68738","297ce0e1.c4b5d","ea32f996.fa9178","a125fe51.4bc4b","e6b38b13.dd2618"]]},{"id":"3d021bde.d6e8b4","type":"trigger","z":"a411128a.736db","op1":"Autonomy","op2":"Autonomy","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":1688,"wires":[["4f6e00dd.38974"]]},{"id":"b638af26.8a392","type":"ui_ui_control","z":"a411128a.736db","name":"","events":"all","x":560,"y":3260,"wires":[[]]},{"id":"552858bf.44e2c8","type":"trigger","z":"a411128a.736db","op1":"Level1","op2":"Level1","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":1800,"wires":[["d9231627.aa97f8"]]},{"id":"87335be.63c86a8","type":"trigger","z":"a411128a.736db","op1":"Level2","op2":"Level2","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":1840,"wires":[["33f928fe.61bf18"]]},{"id":"7a25564f.820668","type":"trigger","z":"a411128a.736db","op1":"Level3","op2":"Level3","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":1880,"wires":[["e11f9e12.8db08"]]},{"id":"a85c09b4.6c4ad8","type":"trigger","z":"a411128a.736db","op1":"Level4","op2":"Level4","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":1920,"wires":[["60c0f164.eb9c9"]]},{"id":"a07a1989.f956e8","type":"trigger","z":"a411128a.736db","op1":"OffGrid","op2":"OffGrid","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2216,"wires":[["87d529b8.5c3348"]]},{"id":"e049f7b9.662318","type":"trigger","z":"a411128a.736db","op1":"OnGrid","op2":"OnGrid","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2256,"wires":[["f999cb57.c30558"]]},{"id":"b5ef0014.631d2","type":"ui_text","z":"a411128a.736db","group":"766e0bf.67d67f4","order":2,"width":0,"height":0,"name":"","label":"Tempo mínimo de Autonomia (horas) do Circuito Crítico: ","format":"","layout":"row-center","x":850,"y":1648,"wires":[]},{"id":"9704f785.dc8f88","type":"comment","z":"a411128a.736db","name":"Menu Inicial","info":"","x":110,"y":1620,"wires":[]},{"id":"98c3fb84.0bd638","type":"comment","z":"a411128a.736db","name":"Bateria","info":"","x":330,"y":3460,"wires":[]},{"id":"bc1d99d5.da2bd8","type":"comment","z":"a411128a.736db","name":"Menu Inicial","info":"","x":110,"y":3460,"wires":[]},{"id":"90f90dc1.48216","type":"ui_text_input","z":"a411128a.736db","name":"potencia de carga","label":"Potência de Carga (kW): ","tooltip":"","group":"67687913.25f408","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":810,"y":3580,"wires":[["dce8d83c.d62a68"]]},{"id":"4a086f3a.fee3a","type":"ui_text_input","z":"a411128a.736db","name":"potencia de descarga","label":"Potência de Descarga (kW):","tooltip":"","group":"67687913.25f408","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":820,"y":3640,"wires":[["e0044cd.1ff0cb"]]},{"id":"d8ff5eb.5706ea","type":"ui_text_input","z":"a411128a.736db","name":"tecnologia da bateria","label":"Tecnologia da Bateria:","tooltip":"","group":"67687913.25f408","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":820,"y":3520,"wires":[["379dfaf9.65b886"]]},{"id":"cab16c93.071ca","type":"ui_text_input","z":"a411128a.736db","name":"Corrente de carga","label":"Corrente de Carga (A): ","tooltip":"","group":"67687913.25f408","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":810,"y":3700,"wires":[["27deadeb.44d222"]]},{"id":"e0c36513.95f288","type":"ui_text_input","z":"a411128a.736db","name":"corrente de descarga","label":"Corrente de Descarga (A):","tooltip":"","group":"67687913.25f408","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":820,"y":3760,"wires":[["7fb7f8ad.5252d8"]]},{"id":"b6e641a3.76852","type":"ui_text_input","z":"a411128a.736db","name":"Depth of Charge","label":"Depth of Discharge (%):","tooltip":"","group":"67687913.25f408","order":6,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":800,"y":3820,"wires":[["82c79137.1a01c"]]},{"id":"cc1d0238.061bf","type":"ui_button","z":"a411128a.736db","name":"","group":"67687913.25f408","order":9,"width":0,"height":0,"passthru":false,"label":"Salvar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":290,"y":3900,"wires":[["6f124707.125818"]]},{"id":"e4dcd24.a53ab3","type":"ui_button","z":"a411128a.736db","name":"","group":"67687913.25f408","order":10,"width":0,"height":0,"passthru":false,"label":"Voltar ao Menu Inicial","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":340,"y":3940,"wires":[["e7a0c04b.f93c2"]]},{"id":"e7a0c04b.f93c2","type":"ui_ui_control","z":"a411128a.736db","name":"","events":"all","x":620,"y":3940,"wires":[[]]},{"id":"b70f1311.07471","type":"function","z":"a411128a.736db","name":"Query","func":"//passa a query para receber os dados da bateria, usa-se limit 1 para garantir que virá apenas um registro\nmsg.topic = \"select * from Battery Limit 1\"\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":3600,"wires":[["d3f6700.cb2c79"]]},{"id":"c5dc7946.ecc878","type":"function","z":"a411128a.736db","name":"Value_Atrib","func":"/* carrego as informações recebidas pela\nquery e insiro elas em variáveis globais \npara serem acessadas em outros componentes.\n*/\n\nflow.set(\"ChargePower\",msg.payload[0].ChargePower)\nflow.set(\"DischargePower\",msg.payload[0].DischargePower)\nflow.set(\"Technology\",msg.payload[0].Technology)\nflow.set(\"ChargeCurrent\",msg.payload[0].ChargeCurrent)\nflow.set(\"DischargeCurrent\",msg.payload[0].DischargeCurrent)\nflow.set(\"DepthOfCharge\",msg.payload[0].DepthOfCharge)\n\n\n/* o return msg dispara os triggers, \nfazendo a atualização dos campos com os \nvalores setados em cada varíavel global\n\nJá o edit change node, faz a salva o \nconteúdo do payload (texto do componente) \nna variável global.\n*/\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":3600,"wires":[["1025094.e6f2ff7","7f9c578b.a85c88","376dd9d6.d69776","8d622f22.a292a","51089a4a.28bc54","eb78b6fb.9ee1f8"]]},{"id":"d3f6700.cb2c79","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":240,"y":3600,"wires":[["c5dc7946.ecc878"]]},{"id":"379dfaf9.65b886","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"Technology","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":3520,"wires":[[]]},{"id":"dce8d83c.d62a68","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"ChargePower","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":3580,"wires":[[]]},{"id":"e0044cd.1ff0cb","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"DischargePower","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":3640,"wires":[[]]},{"id":"27deadeb.44d222","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"ChargeCurrent","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":3700,"wires":[[]]},{"id":"7fb7f8ad.5252d8","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"DischargeCurrent","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":3760,"wires":[[]]},{"id":"82c79137.1a01c","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"DepthOfCharge","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":3820,"wires":[[]]},{"id":"eb78b6fb.9ee1f8","type":"trigger","z":"a411128a.736db","op1":"Technology","op2":"Technology","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":640,"y":3520,"wires":[["d8ff5eb.5706ea"]]},{"id":"51089a4a.28bc54","type":"trigger","z":"a411128a.736db","op1":"ChargePower","op2":"ChargePower","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":640,"y":3580,"wires":[["90f90dc1.48216"]]},{"id":"8d622f22.a292a","type":"trigger","z":"a411128a.736db","op1":"DischargePower","op2":"DischargePower","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":640,"y":3640,"wires":[["4a086f3a.fee3a"]]},{"id":"376dd9d6.d69776","type":"trigger","z":"a411128a.736db","op1":"ChargeCurrent","op2":"ChargeCurrent","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":640,"y":3700,"wires":[["cab16c93.071ca"]]},{"id":"7f9c578b.a85c88","type":"trigger","z":"a411128a.736db","op1":"DischargeCurrent","op2":"DischargeCurrent","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":640,"y":3760,"wires":[["e0c36513.95f288"]]},{"id":"1025094.e6f2ff7","type":"trigger","z":"a411128a.736db","op1":"DepthOfCharge","op2":"DepthOfCharge","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":640,"y":3820,"wires":[["b6e641a3.76852"]]},{"id":"400e0d85.5b2524","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":620,"y":3900,"wires":[[]]},{"id":"6f124707.125818","type":"function","z":"a411128a.736db","name":"Update","func":"/* quando o botão \"salvar\" é clicado, as\nvariáveis globais são acessadas e é construída\num comando de update no banco, salvando os \ndados da bateria no banco de dados.\n*/\nvar ChargeP = flow.get(\"ChargePower\")\nvar DischargeP = flow.get(\"DischargePower\")\nvar Tech = flow.get(\"Technology\")\nvar ChargeC = flow.get(\"ChargeCurrent\")\nvar DischargeC = flow.get(\"DischargeCurrent\")\nvar Depth = flow.get(\"DepthOfCharge\")\n\nmsg.topic = \" update \" +\n                \" Battery \" +\n            \" set \" +\n            \"  ChargePower = \"      + ChargeP +\n            \", DischargePower = \"   + DischargeP +\n            \", Technology = '\"      + Tech+\n            \"', ChargeCurrent = \"   + ChargeC+\n            \", DischargeCurrent = \" + DischargeC +\n            \", DepthOfCharge = \"    + Depth\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":3900,"wires":[["400e0d85.5b2524"]]},{"id":"f622f5e.7572408","type":"inject","z":"a411128a.736db","name":"Trigger_1sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":300,"wires":[["bde5f619.6a1e48","40cdc050.0ddc1","93464c0c.2c632","c4da75cb.923688"]]},{"id":"bde5f619.6a1e48","type":"function","z":"a411128a.736db","name":"QueryConsumoAcumuladoMensal","func":"msg.topic = \"select \"+\n                \" Round(sum(ActivePower*5/3600)/1000,2) ActiveEnergy \"+\n            \" from Measure \"+\n            \" where \"+\n                \" Date(Datetime) >= (select \"+\n                                         \" Date(TIMESTAMP(concat(year,'-',month,'-',day),'00:00:00'))  \"+\n                                    \" from (select \"+ \n                                                \" datetime, \"+\n                                                \" if(Month(Now())<10,Concat('0',Month(Now())),Month(Now())) month, \"+\n                                                \" (select if(RevenueDay<10,Concat('0',RevenueDay),RevenueDay) from Configuration) day, \"+\n                                                \" if(Year(Now())<10,Concat('0',Year(Now())),Year(Now())) year \"+\n                                            \" from Measure) t Limit 1) \"+\n                \" and Date(Datetime) < (select \"+\n                                            \" Date(TIMESTAMP(concat(year,'-',month+1,'-',day),'00:00:00')) \"+\n                                            \" from (select \"+ \n                                                        \" datetime, \"+\n                                                        \" if(Month(Now())<10,Concat('0',Month(Now())),Month(Now())) month, \"+\n                                                        \" (select if(RevenueDay<10,Concat('0',RevenueDay),RevenueDay) from Configuration) day, \"+\n                                                        \" if(Year(Now())<10,Concat('0',Year(Now())),Year(Now())) year from Measure) t Limit 1)\"; \nreturn msg;","outputs":1,"noerr":0,"x":740,"y":200,"wires":[["c98ddcf6.4b2bd"]]},{"id":"c98ddcf6.4b2bd","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":964,"y":200,"wires":[["1b4a7520.5e24fb"]]},{"id":"40cdc050.0ddc1","type":"function","z":"a411128a.736db","name":"QueryModoOperacaoAtual","func":"msg.topic = \"select \"+\n                 \" * \"+\n            \"from \"+\n                 \"Operation \"+\n            \"order by Id desc \"+\n            \"Limit 1\"\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":260,"wires":[["7a208b50.960274"]]},{"id":"7a208b50.960274","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":964,"y":260,"wires":[["150c80d6.69b7af","2b83f661.02999a"]]},{"id":"d4e3bda8.38983","type":"ui_gauge","z":"a411128a.736db","name":"","group":"b77582a9.eddbc","order":6,"width":4,"height":4,"gtype":"wave","title":"Nível Atual da Bateria:","label":" %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1460,"y":320,"wires":[]},{"id":"d94be11c.a2061","type":"function","z":"a411128a.736db","name":"Conversor","func":"//  Converte o resultado do select para value,\n//  Isso permite que o gauge interprete o valor \n// e apresente o ponteiro corretamente\n\nmsg.value = msg.payload[0].StateOfCharge;\nreturn msg;","outputs":1,"noerr":0,"x":1127,"y":320,"wires":[["d4e3bda8.38983"]]},{"id":"93464c0c.2c632","type":"function","z":"a411128a.736db","name":"QueryNivelBateria","func":"msg.topic = \"select \"+ \n                  \"(select \"+\n                        \"StateOfCharge*100 \"+\n                  \" from HistoryBattery \"+\n                  \" order by Id desc Limit 1\"+\n                  \" )/TotalEnergy 'StateOfCharge' \"+ \n            \" from Battery; \"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":320,"wires":[["c754a7f5.137bc8"]]},{"id":"c754a7f5.137bc8","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":964,"y":320,"wires":[["d94be11c.a2061"]]},{"id":"ef3b1699.883fc8","type":"trigger","z":"a411128a.736db","op1":"NameCircuit1","op2":"NameCircuit1","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2600,"wires":[["4f6b11eb.9224a"]]},{"id":"4f6b11eb.9224a","type":"ui_text_input","z":"a411128a.736db","name":"NameCircuit1","label":"Circuito 1: ","tooltip":"","group":"cd73a2a9.a8759","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":860,"y":2601,"wires":[["425a9dc4.d33a74"]]},{"id":"425a9dc4.d33a74","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"NameCircuit1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2601,"wires":[[]]},{"id":"acba5d69.5a824","type":"ui_text","z":"a411128a.736db","group":"cd73a2a9.a8759","order":1,"width":0,"height":0,"name":"","label":"Identificação dos Circuitos:","format":"","layout":"row-center","x":758,"y":2559,"wires":[]},{"id":"8cd90e2e.d5105","type":"trigger","z":"a411128a.736db","op1":"NameCircuit2","op2":"NameCircuit2","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2637,"wires":[["f2154f77.114c6"]]},{"id":"f2154f77.114c6","type":"ui_text_input","z":"a411128a.736db","name":"NameCircuit2","label":"Circuito 2: ","tooltip":"","group":"cd73a2a9.a8759","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":860,"y":2638,"wires":[["c7aa5373.04b09"]]},{"id":"c7aa5373.04b09","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"NameCircuit2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2638,"wires":[[]]},{"id":"c7e5efad.9e591","type":"trigger","z":"a411128a.736db","op1":"NameCircuit3","op2":"NameCircuit3","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2674,"wires":[["23b7627.423a69e"]]},{"id":"23b7627.423a69e","type":"ui_text_input","z":"a411128a.736db","name":"NameCircuit3","label":"Circuito 3: ","tooltip":"","group":"cd73a2a9.a8759","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":860,"y":2675,"wires":[["347ea9e4.0c2656"]]},{"id":"347ea9e4.0c2656","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"NameCircuit3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2675,"wires":[[]]},{"id":"aa47075c.0295f8","type":"trigger","z":"a411128a.736db","op1":"NameCircuit4","op2":"NameCircuit4","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2711,"wires":[["250cbd69.4a7732"]]},{"id":"250cbd69.4a7732","type":"ui_text_input","z":"a411128a.736db","name":"NameCircuit4","label":"Circuito 4: ","tooltip":"","group":"cd73a2a9.a8759","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":860,"y":2712,"wires":[["c43aa297.1e837"]]},{"id":"c43aa297.1e837","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"NameCircuit4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2712,"wires":[[]]},{"id":"f5bf68ce.37ebc8","type":"comment","z":"a411128a.736db","name":"Processos e Cálculos","info":"","x":360,"y":4080,"wires":[]},{"id":"982017e1.1a2708","type":"comment","z":"a411128a.736db","name":"Menu Inicial","info":"","x":90,"y":4080,"wires":[]},{"id":"86a484cb.552748","type":"inject","z":"a411128a.736db","name":"Trigger_1s","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":4160,"wires":[["165c9359.4ef32d"]]},{"id":"165c9359.4ef32d","type":"function","z":"a411128a.736db","name":"Query-Consumo e energia","func":"/* o trigger à esquerda dispara a cada 1s\nfazendo com que a query abaixo seja executada.\nA query busca o horário que o chaveamento off-grid\nprogramado está configurado, assim como informações\nsobre a ordem de desligamento dos circuitos;\no nivel atual de bateria e o consumo instantâneo.\n\nO resultado desse select é tratado na função à direita.\n*/\n\nmsg.topic = \"select (select PercentagePeakShavingHiredPower from Configuration) PercentagePeakShavingHiredPower, (select HiredPower from Configuration) HiredPower, (select SwitchingControlType from Configuration) SwitchingControlType, (Select StartComutationOn_Off from Configuration) 'StartComutationOn_Off', (select StartComutationOFF_On from Configuration) 'StartComutationOFF_On', hour(now())*60+Minute(Now()) 'CurrentMinute', (select Level_1_shutdown from Configuration) 'Level1',(select Level_2_shutdown from Configuration) 'Level2',(select Level_3_shutdown from Configuration) 'Level3', (select Level_4_shutdown from Configuration) 'Level4',  Round(sum(Sqrt(Pow(ActivePower,2)+Pow(ReactivePower,2)))/(1000),2) 'Potencia',(select StateOfCharge from HistoryBattery order by Id desc Limit 1) 'StateOfCharge',(select Status from Operation order by Id Desc Limit 1) 'Status', (select PriorityLevel from Operation order by Id Desc Limit 1) 'PriorityLevel', (Select MinTimeAutonomy from Configuration) 'MinAutonomy' from Measure where Id in (select max(Id) from Measure where CircuitId in (select CircuitId from HistoryCircuit where Id in (select Max(Id) 'Id' from HistoryCircuit group by CircuitId) and Action = 'Enabled') Group By CircuitId);\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":4160,"wires":[["35b1f54b.5da34a"]]},{"id":"35b1f54b.5da34a","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":600,"y":4160,"wires":[["bbc4f94.b6b4108"]]},{"id":"bbc4f94.b6b4108","type":"function","z":"a411128a.736db","name":"Calcula Autonomia","func":"/* calcula a autonomia em execução para diminuir\na complexidade do select anterior.\ncalcua potencia maxima para realizar o peakshaving\n*/\n\nmsg.payload[0].Autonomy = msg.payload[0].StateOfCharge/msg.payload[0].Potencia;\nmsg.payload[0].PotenciaMaxPeakShaving = msg.payload[0].HiredPower*msg.payload[0].PercentagePeakShavingHiredPower/100;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":4160,"wires":[["c70f97e2.68d6c8","5247c4e9.6e205c"]]},{"id":"c70f97e2.68d6c8","type":"function","z":"a411128a.736db","name":"Avalia Estado e atua","func":"/* esta funçao recebe os resultados do \nselect 'Query-Consumo e energia' e trata o estado\natual da rede.\nCaso a rede esteja off-grid, controla-se a desabilitação de \ncircuitos para garantir os criterios definidos\nna configuração.\n*/\n\nif (msg.payload[0].Status == \"On-Grid\")\n{\n    /* se a rede estiver on-grid, garante-se aqui que o nivel\n    de prioridade voltará ao nível 4 e faz a conexão \n    dos circuitos desabilitados\n    */\n    if (msg.payload[0].PriorityLevel == 1)\n    {\n        msg.topic = \"Insert into Operation (Datetime, Status, PriorityLevel, GeneralInfo) Values (now(), 'On-Grid', 4, 'Return to on-grid mode'); \"; \n        msg.topic = msg.topic + \"Insert into HistoryCircuit (CircuitId, Datetime, Action) values (\"+msg.payload[0].Level2+\",now(),'Enabled');\";\n        msg.topic = msg.topic + \"Insert into HistoryCircuit (CircuitId, Datetime, Action) values (\"+msg.payload[0].Level3+\",now(),'Enabled');\";\n        msg.topic = msg.topic + \"Insert into HistoryCircuit (CircuitId, Datetime, Action) values (\"+msg.payload[0].Level4+\",now(),'Enabled');\";\n    }\n    else if (msg.payload[0].PriorityLevel == 2)\n    {\n        msg.topic = \"Insert into Operation (Datetime, Status, PriorityLevel, GeneralInfo) Values (now(), 'On-Grid', 4, 'Return to on-grid mode'); \"; \n        msg.topic = msg.topic + \"Insert into HistoryCircuit (CircuitId, Datetime, Action) values (\"+msg.payload[0].Level3+\",now(),'Enabled');\";\n        msg.topic = msg.topic + \"Insert into HistoryCircuit (CircuitId, Datetime, Action) values (\"+msg.payload[0].Level4+\",now(),'Enabled');\";\n    }\n    else if (msg.payload[0].PriorityLevel == 3)\n    {\n        msg.topic = \"Insert into Operation (Datetime, Status, PriorityLevel, GeneralInfo) Values (now(), 'On-Grid', 4, 'Return to on-grid mode'); \"; \n        msg.topic = msg.topic + \"Insert into HistoryCircuit (CircuitId, Datetime, Action) values (\"+msg.payload[0].Level4+\",now(),'Enabled');\";\n    }\n    \n}\nelse if ((msg.payload[0].Status == \"Off-Grid-Forced\") && (msg.payload[0].Autonomy < msg.payload[0].MinAutonomy))\n{\n    /* se a rede estiver off-grid-forced\n    (concessionária cessa fornecimento de \n    energia inesperadamente), faz a verificação \n    da autonomia desejada e desabilita os circuitos\n    ordenadamente até atingir o mínimo de autonomia ou \n    até deixar apenas o circuito crítico conectado.\n    */\n    msg.payload[0].PriorityLevel = msg.payload[0].PriorityLevel-1;\n    if (msg.payload[0].PriorityLevel >= 1)\n    {\n        msg.topic = \"Insert into Operation (Datetime, Status, PriorityLevel, GeneralInfo) Values (now(), 'Off-Grid-Forced', \"+msg.payload[0].PriorityLevel+\",'Actual Autonomy = \"+ parseFloat(msg.payload[0].Autonomy).toFixed(2)+\" h, Min. Autonomy = \"+ parseFloat(msg.payload[0].MinAutonomy).toFixed(2)+\" h'); \"; \n        if (msg.payload[0].PriorityLevel == 3)\n        {\n            msg.topic =   msg.topic + \" Insert into HistoryCircuit (CircuitId, Datetime, Action) values (\"+msg.payload[0].Level4+\",now(),'Disabled'); \";\n        }else if (msg.payload[0].PriorityLevel == 2)\n        {\n            msg.topic =   msg.topic + \" Insert into HistoryCircuit (CircuitId, Datetime, Action) values (\"+msg.payload[0].Level3+\",now(),'Disabled'); \";\n        }else if (msg.payload[0].PriorityLevel == 1)\n        {\n            msg.topic =   msg.topic + \" Insert into HistoryCircuit (CircuitId, Datetime, Action) values (\"+msg.payload[0].Level2+\",now(),'Disabled'); \";\n        }\n    }\n        \n}\n\n\n//por fim envia os updates necessários para o banco, simulando os comandos de atuação da rede\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":4160,"wires":[["3b15168e.b996ba"]]},{"id":"3b15168e.b996ba","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":1260,"y":4160,"wires":[[]]},{"id":"2b83f661.02999a","type":"ui_text","z":"a411128a.736db","group":"b77582a9.eddbc","order":3,"width":0,"height":0,"name":"","label":"Nível Prioridade:","format":"{{msg.payload[0].PriorityLevel}}","layout":"row-center","x":1450,"y":260,"wires":[]},{"id":"c4da75cb.923688","type":"function","z":"a411128a.736db","name":"QueryConsumoEnergia","func":"msg.topic = \" select \"+\n                 \" Round(sum(Sqrt(Pow(ActivePower,2)+Pow(ReactivePower,2)))/1000,2) 'Consumo', \"+\n                 \" (select \"+ \n                        \" StateOfCharge \"+\n                 \"  from HistoryBattery \"+\n                 \"  order by Id desc Limit 1) 'StateOfCharge' \"+\n            \" from Measure \"+\n            \" where Id in (select \"+\n                               \" max(Id) \"+\n                           \" from Measure \"+\n                           \" where \"+\n                                \" CircuitId in (  select \"+\n                                                    \" CircuitId \"+\n                                                \" from \"+ \n                                                    \" HistoryCircuit \"+\n                                                \" where Id in ( select \"+\n                                                                   \" Max(Id) 'Id' \"+\n                                                              \" from HistoryCircuit \"+\n                                                              \" group by CircuitId) \"+\n                                                        \"and Action = 'Enabled') \"+\n                                                \" Group By CircuitId)\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["c31ad314.56ac3"]]},{"id":"c31ad314.56ac3","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":964,"y":380,"wires":[["cb729799.98f288"]]},{"id":"cb729799.98f288","type":"function","z":"a411128a.736db","name":"Calcula Autonomia","func":"// calcula autonomia em tempo de execução, para deixar a query mais simples.\nmsg.payload[0].Autonomy = msg.payload[0].StateOfCharge/msg.payload[0].Consumo;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":380,"wires":[["cca32189.ca1ee"]]},{"id":"cca32189.ca1ee","type":"ui_text","z":"a411128a.736db","group":"b77582a9.eddbc","order":4,"width":0,"height":0,"name":"","label":"Autonomia","format":"{{msg.payload[0].Autonomy | number:1}} h","layout":"row-center","x":1430,"y":380,"wires":[]},{"id":"5247c4e9.6e205c","type":"function","z":"a411128a.736db","name":"Avalia Horário e atua","func":"/* esta funçao recebe os resultados do \nselect 'Query-Consumo e energia' e trata o estado\natual da rede.\nCaso a rede esteja on-grid, controla-se a desabilitação de \no chaveamento para a rede entrar no modo off-grid no horário programado.\n*/\n\n\n// verifica o estado atual, a autonomia minima desejada, o horario atual,  e o horario programado para realizar o chaveamento, caso seja peak-shaving verifica a potencia consumida instantanea, o percentual da potencia contratada que deve habilitar o peakshaving\nif (msg.payload[0].Status == \"On-Grid\")\n{\n    if ((msg.payload[0].SwitchingControlType == \"Chaveamento Horário\")&&\n    (msg.payload[0].StartComutationOn_Off <= msg.payload[0].CurrentMinute)&&\n    (msg.payload[0].StartComutationOFF_On >= msg.payload[0].CurrentMinute)&&\n    (msg.payload[0].Autonomy > msg.payload[0].MinAutonomy))\n    {\n        //Se está dentro do horário de chaveamento, realiza o chaveamento \n        msg.topic = \"Insert into Operation (Datetime, Status, PriorityLevel, GeneralInfo) Values (now(), 'Off-Grid-Programmed', 4, 'off grid programado chaveamento horário'); \"; \n    }\n    else if ((msg.payload[0].PotenciaMaxPeakShaving < msg.payload[0].Potencia)\n            &&(msg.payload[0].SwitchingControlType == \"Peak-Shaving\"))\n    {\n        //Se está dentro do horário de chaveamento, realiza o chaveamento \n        msg.topic = \"Insert into Operation (Datetime, Status, PriorityLevel, GeneralInfo) Values (now(), 'Off-Grid-Programmed', 4, 'off grid programado peak-shaving'); \"; \n    }\n}\nelse if (msg.payload[0].Status == \"Off-Grid-Programmed\")\n{\n    //verifica se ainda está dentro do horário de chaveamento e se a autonomia é atendida, caso um desses dois requisitos nao seja atendido, a rede volta para o estado on-grid \n    if (msg.payload[0].SwitchingControlType == \"Chaveamento Horário\")\n    {\n        if (msg.payload[0].Autonomy < msg.payload[0].MinAutonomy)\n            msg.topic = \"Insert into Operation (Datetime, Status, PriorityLevel, GeneralInfo) Values (now(), 'On-Grid', 4, 'Retorno on grid forçado, mín de autonomia atingido.'); \"; \n        else if ((msg.payload[0].StartComutationOn_Off > msg.payload[0].CurrentMinute)||\n        (msg.payload[0].StartComutationOFF_On < msg.payload[0].CurrentMinute))\n            msg.topic = \"Insert into Operation (Datetime, Status, PriorityLevel, GeneralInfo) Values (now(), 'On-Grid', 4, 'Retorno on grid programado.'); \"; \n    }\n    else if ((msg.payload[0].PotenciaMaxPeakShaving > msg.payload[0].Potencia)\n            &&(msg.payload[0].SwitchingControlType == \"Peak-Shaving\"))\n    {\n        //Se está dentro do horário de chaveamento, realiza o chaveamento \n        msg.topic = \"Insert into Operation (Datetime, Status, PriorityLevel, GeneralInfo) Values (now(), 'On-Grid', 4, 'Retorno on grid - potência dentro do limite permitido.'); \"; \n\n    }\n        \n    }\n\n// envia os comandos de banco de dados para manter o historico de funcionamento e para controlar o estado da rede\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":4220,"wires":[["7fcf509c.9184"]]},{"id":"7fcf509c.9184","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":1260,"y":4220,"wires":[[]]},{"id":"a4bd3dc4.0436f","type":"ui_text","z":"a411128a.736db","group":"acc16daf.c164d","order":1,"width":0,"height":0,"name":"","label":"Dados da Concessionária:","format":"","layout":"row-center","x":760,"y":2033,"wires":[]},{"id":"6624d5d9.20dcfc","type":"trigger","z":"a411128a.736db","op1":"StartPeakHour","op2":"StartPeakHour","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":702,"y":2071,"wires":[["957c0fd4.e9fcd"]]},{"id":"2ae4b828.2ab578","type":"trigger","z":"a411128a.736db","op1":"EndPeakHour","op2":"EndPeakHour","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":702,"y":2111,"wires":[["55a73433.79580c"]]},{"id":"55a73433.79580c","type":"ui_text_input","z":"a411128a.736db","name":"","label":"Horário de Ponta Fim:","tooltip":"","group":"acc16daf.c164d","order":3,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"","x":942,"y":2111,"wires":[["89dd1f5a.88a9"]]},{"id":"957c0fd4.e9fcd","type":"ui_text_input","z":"a411128a.736db","name":"","label":"Horário de Ponta Início:","tooltip":"","group":"acc16daf.c164d","order":2,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"","x":952,"y":2071,"wires":[["cbbd3217.01164"]]},{"id":"cbbd3217.01164","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"StartPeakHour","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1262,"y":2071,"wires":[[]]},{"id":"89dd1f5a.88a9","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"EndPeakHour","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1262,"y":2111,"wires":[[]]},{"id":"7ca66c61.8deb14","type":"trigger","z":"a411128a.736db","op1":"ActivePriceNonPeakHour","op2":"ActivePriceNonPeakHour","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2380,"wires":[["28e0a9f3.8167a6"]]},{"id":"28e0a9f3.8167a6","type":"ui_text_input","z":"a411128a.736db","name":"Ativa HFP","label":"Ativa  - Fora de Ponta (R$/kWh)","tooltip":"","group":"8eb6178c.66c488","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":840,"y":2380,"wires":[["3e8838d6.5f2698"]]},{"id":"3e8838d6.5f2698","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"ActivePriceNonPeakHour","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":2380,"wires":[[]]},{"id":"afb7a974.0eaf28","type":"trigger","z":"a411128a.736db","op1":"ReactivePriceNonPeakHour","op2":"ReactivePriceNonPeakHour","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2416,"wires":[["cb4a0cb5.20613"]]},{"id":"cb4a0cb5.20613","type":"ui_text_input","z":"a411128a.736db","name":"Reativa HFP","label":"Reativa  - Fora de Ponta (R$/kVArh)","tooltip":"","group":"8eb6178c.66c488","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":850,"y":2416,"wires":[["6753d207.f5373c"]]},{"id":"6753d207.f5373c","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"ReactivePriceNonPeakHour","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":2416,"wires":[[]]},{"id":"1ea3cb66.55e3b5","type":"trigger","z":"a411128a.736db","op1":"ActivePricePeakHour","op2":"ActivePricePeakHour","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2451,"wires":[["94c9fdda.dee68"]]},{"id":"94c9fdda.dee68","type":"ui_text_input","z":"a411128a.736db","name":"Ativa HP","label":"Ativa  - Horário de Ponta (R$/kWh)","tooltip":"","group":"8eb6178c.66c488","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":840,"y":2451,"wires":[["a3c1bc53.b3de3"]]},{"id":"a3c1bc53.b3de3","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"ActivePricePeakHour","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":2451,"wires":[[]]},{"id":"8236b36a.fb9be","type":"trigger","z":"a411128a.736db","op1":"ReactivePricePeakHour","op2":"ReactivePricePeakHour","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2486,"wires":[["faa917b6.c16788"]]},{"id":"faa917b6.c16788","type":"ui_text_input","z":"a411128a.736db","name":"Reativa HP","label":"Reativa  - Horário de Ponta (R$/kVArh)","tooltip":"","group":"8eb6178c.66c488","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":850,"y":2486,"wires":[["6c55f02a.287b1"]]},{"id":"6c55f02a.287b1","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"ReactivePricePeakHour","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":2486,"wires":[[]]},{"id":"cc7b8cb5.41c5","type":"ui_text","z":"a411128a.736db","group":"8eb6178c.66c488","order":1,"width":0,"height":0,"name":"","label":"Custo de Energia:","format":"","layout":"row-center","x":728,"y":2340,"wires":[]},{"id":"11933374.76d81d","type":"comment","z":"a411128a.736db","name":"Circuito Escolhido","info":"","x":110,"y":700,"wires":[]},{"id":"4d3cfc77.7f34b4","type":"ui_text","z":"a411128a.736db","group":"67c9ccf4.48b8d4","order":4,"width":0,"height":0,"name":"","label":"Estado:","format":"{{msg.payload[0].status}}","layout":"row-left","x":1220,"y":780,"wires":[]},{"id":"be1763c5.b2eda","type":"ui_text","z":"a411128a.736db","group":"4ef3b77c.458f58","order":2,"width":0,"height":0,"name":"","label":"Energia Ativa:","format":"{{msg.payload[0].ActiveEnergy}} kWh","layout":"row-right","x":980,"y":1220,"wires":[]},{"id":"df507259.17d83","type":"ui_text","z":"a411128a.736db","group":"db9097aa.5da1f8","order":1,"width":0,"height":0,"name":"","label":"Tensão:","format":"{{msg.payload[0].VoltagePhaseA}} V","layout":"row-right","x":1220,"y":860,"wires":[]},{"id":"92a4bbe8.349118","type":"ui_text","z":"a411128a.736db","group":"db9097aa.5da1f8","order":2,"width":0,"height":0,"name":"","label":"Corrente:","format":"{{msg.payload[0].CurrentPhaseA}} A","layout":"row-right","x":1220,"y":900,"wires":[]},{"id":"21332eda.6e5042","type":"ui_text","z":"a411128a.736db","group":"4ef3b77c.458f58","order":4,"width":0,"height":0,"name":"","label":"Máxima Corrente:","format":"","layout":"row-left","x":990,"y":1020,"wires":[]},{"id":"378c0d08.fff7d2","type":"ui_text","z":"a411128a.736db","group":"4ef3b77c.458f58","order":5,"width":0,"height":0,"name":"","label":"Data: ","format":"{{msg.payload[0].Datetime}}","layout":"row-right","x":950,"y":1060,"wires":[]},{"id":"d8e9c99c.d4d868","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":820,"y":900,"wires":[["a4e59850.9e48a8"]]},{"id":"84ff6ed7.b0bc1","type":"function","z":"a411128a.736db","name":"QueryDadosFaseABC","func":"// faço a leitura da variável CircuitoEscolhido e faz o select no banco para pegar os últimos registros de medição deste registro\n\nvar CircuitoEscolhido = flow.get(\"CircuitoEscolhido\");\nmsg.topic = \"select \" +\n                 \"(select  \" +\n                        \" OperationType \" +\n                 \" from Configuration) OperationType, \" +\n                 \" VoltagePhaseA,  \" +\n                 \" VoltagePhaseB, \" +\n                 \" VoltagePhaseC, \" +\n                 \" CurrentPhaseA, \" +\n                 \" CurrentPhaseB, \" +\n                 \" CurrentPhaseC, \" +\n                 \" PowerFactor_A, \" +\n                 \" PowerFactor_B, \" +\n                 \" PowerFactor_C, \" +\n                 \"(select Action \" + \n                 \" from HistoryCircuit \" +\n                 \" where CircuitId = \"+CircuitoEscolhido+\n                 \"       and Datetime = (select  \" +\n                                            \"max(Datetime)  \" +\n                                        \" from HistoryCircuit \" +\n                                        \" where CircuitId = \"+CircuitoEscolhido+\")) status  \" +\n                 \" from Measure \" +\n                 \" where CircuitId = \"+CircuitoEscolhido+ \n                 \" order by Id desc Limit 1\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":900,"wires":[["d8e9c99c.d4d868"]]},{"id":"51e1401c.9db1b","type":"inject","z":"a411128a.736db","name":"Trigger_1sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"0.5","x":400,"y":900,"wires":[["84ff6ed7.b0bc1","330e9c67.17d444","53e35bea.ea5b14","8d05ab79.9dbb48"]]},{"id":"51caad0a.580804","type":"ui_text","z":"a411128a.736db","group":"db9097aa.5da1f8","order":3,"width":0,"height":0,"name":"","label":"Fator de Potência:","format":"{{msg.payload[0].PowerFactor_A}}","layout":"row-right","x":1250,"y":940,"wires":[]},{"id":"330e9c67.17d444","type":"function","z":"a411128a.736db","name":"QueryMaxCorrente","func":"// faço a leitura da variável CircuitoEscolhido e faz o select no banco para pegar a maior corrente registrada nesse circuito, bem como horário dess ocorrência\n\nvar CircuitoEscolhido = flow.get(\"CircuitoEscolhido\");\nmsg.topic = \"Select Current, DATE_FORMAT(Datetime, '%d/%m/%Y %H:%i') Datetime, Phase from (select CurrentPhaseA Current, 'A' Phase, Datetime from Measure where CurrentPhaseA = (select max(CurrentPhaseA) from Measure where CircuitId = \"+CircuitoEscolhido+\" group by CircuitId) union select CurrentPhaseB Current, 'B' Phase, datetime from Measure where CurrentPhaseB = (select max(CurrentPhaseB) from Measure where CircuitId = \"+CircuitoEscolhido+\" group by CircuitId) union select CurrentPhaseC Current, 'C' Phase, datetime from Measure where CurrentPhaseC = (select max(CurrentPhaseC) from Measure where CircuitId = \"+CircuitoEscolhido+\" group by CircuitId)) t  order by Current desc, datetime desc;\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1020,"wires":[["95f28bee.d72548"]]},{"id":"95f28bee.d72548","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":820,"y":1020,"wires":[["21332eda.6e5042","378c0d08.fff7d2","34abbeb1.608092","a9e0bf2e.3c01a"]]},{"id":"53e35bea.ea5b14","type":"function","z":"a411128a.736db","name":"QueryEnergiaConsumida","func":"// faço a leitura da variável CircuitoEscolhido e faz o select no banco para calcular a energia consumida por ele dentro do período configurado de faturamento.\n\nvar CircuitoEscolhido = flow.get(\"CircuitoEscolhido\");\nmsg.topic = \"select  \" +\n                \" Round(sum(ActivePower*5/3600)/1000,2) ActiveEnergy \" +\n            \" from Measure  \" +\n            \" where Date(Datetime) >= (select \" + \n                                            \" Date(TIMESTAMP(concat(year,'-',month,'-',day),'00:00:00')) \" +\n                                       \" from (select \" + \n                                                    \" datetime,  \" +\n                                                    \" if(Month(Now())<10,Concat('0',Month(Now())),Month(Now())) month,  \" +\n                                                    \" (select if(RevenueDay<10,Concat('0',RevenueDay),RevenueDay) from Configuration) day,  \" +\n                                                    \" if(Year(Now())<10,Concat('0',Year(Now())),Year(Now())) year  \" +\n                                               \"from Measure) t  \" +\n                                       \" Limit 1) \" +\n                   \" and Date(Datetime) <  (select \" +\n                                                \" Date(TIMESTAMP(concat(year,'-',month+1,'-',day),'00:00:00')) \" +\n                                            \" from  \" +\n                                                \" (select  \" +\n                                                        \" datetime,  \" +\n                                                        \" if(Month(Now())<10,Concat('0',Month(Now())),Month(Now())) month,  \" +\n                                                        \" (select if(RevenueDay<10,Concat('0',RevenueDay),RevenueDay) from Configuration) day,  \" +\n                                                        \" if(Year(Now())<10,Concat('0',Year(Now())),Year(Now())) year  \" +\n                                                 \" from Measure) t  \" +\n                                                 \" Limit 1)  \" +\n                   \" and CircuitId = \"+CircuitoEscolhido;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1220,"wires":[["91c04ab0.123318"]]},{"id":"91c04ab0.123318","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":820,"y":1220,"wires":[["be1763c5.b2eda"]]},{"id":"a4e59850.9e48a8","type":"function","z":"a411128a.736db","name":"LimpaDados","func":"// caso o circuito esteja desabilitado, deixo de mostrar os últimos registros de medição.\nif (msg.payload[0].status == \"Disabled\"){\n    msg.payload[0].VoltagePhaseA = \"-\";\n    msg.payload[0].VoltagePhaseB = \"-\";\n    msg.payload[0].VoltagePhaseC = \"-\";\n    msg.payload[0].CurrentPhaseA = \"-\";\n    msg.payload[0].CurrentPhaseB = \"-\";\n    msg.payload[0].CurrentPhaseC = \"-\";\n    msg.payload[0].PowerFactor_A = \"-\";\n    msg.payload[0].PowerFactor_B = \"-\";\n    msg.payload[0].PowerFactor_C = \"-\";\n}\n    \nreturn msg","outputs":1,"noerr":0,"x":990,"y":900,"wires":[["4d3cfc77.7f34b4","df507259.17d83","92a4bbe8.349118","51caad0a.580804","72561e5a.2a047","41d161c6.e1a24","250a4228.ea7a6e","cb334df1.9d242","e7a619cf.bfc1c8","c53b2a0f.68e5d8","dd692d05.125fa"]]},{"id":"b3b11b01.d4c818","type":"ui_text","z":"a411128a.736db","group":"67c9ccf4.48b8d4","order":2,"width":0,"height":0,"name":"nameCircuit4","label":"","format":"{{msg.payload[0].name}}","layout":"row-left","x":970,"y":1320,"wires":[]},{"id":"8221c8ec.4528d8","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":820,"y":1320,"wires":[["b3b11b01.d4c818"]]},{"id":"8d05ab79.9dbb48","type":"function","z":"a411128a.736db","name":"QueryNomeCircuito","func":"// faço a leitura da variável CircuitoEscolhido e faz o select no banco para pegar o nome do circuito, configurado pelo usuário.\n\nvar CircuitoEscolhido = flow.get(\"CircuitoEscolhido\");\nmsg.topic = \"select Circuit\"+CircuitoEscolhido+\"Name name from Configuration\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1320,"wires":[["8221c8ec.4528d8"]]},{"id":"a7db0c91.4856e","type":"function","z":"a411128a.736db","name":"Value_Atrib","func":"//cria variavel global 'CircuitoEscolhido', tipo flow, e atribui valor 1 a ela\n\nflow.set(\"CircuitoEscolhido\",1)\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":780,"wires":[["12ec131.f1a2bed"]]},{"id":"d99237be.5c88b8","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"CircuitoEscolhido","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":780,"wires":[[]]},{"id":"40c5d2f5.66019c","type":"ui_dropdown","z":"a411128a.736db","name":"","label":"Circuito:","tooltip":"","place":"Select option","group":"67c9ccf4.48b8d4","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Circuito 1","value":"1","type":"str"},{"label":"Circuito 2","value":"2","type":"str"},{"label":"Circuito 3","value":"3","type":"str"},{"label":"Circuito 4","value":"4","type":"str"}],"payload":"","topic":"","x":720,"y":780,"wires":[["d99237be.5c88b8"]]},{"id":"12ec131.f1a2bed","type":"trigger","z":"a411128a.736db","op1":"CircuitoEscolhido","op2":"CircuitoEscolhido","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":580,"y":780,"wires":[["40c5d2f5.66019c"]]},{"id":"66f50710.188738","type":"ui_text_input","z":"a411128a.736db","name":"","label":"Dia do Faturamento:","tooltip":"","group":"acc16daf.c164d","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":880,"y":1960,"wires":[["27f9d1c4.27b59e"]]},{"id":"27f9d1c4.27b59e","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"RevenueDay","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1960,"wires":[[]]},{"id":"5d79ea92.be5624","type":"trigger","z":"a411128a.736db","op1":"RevenueDay","op2":"RevenueDay","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":1960,"wires":[["66f50710.188738"]]},{"id":"250a4228.ea7a6e","type":"ui_text","z":"a411128a.736db","group":"c7918267.4271f","order":1,"width":0,"height":0,"name":"","label":"Tensão:","format":"{{msg.payload[0].VoltagePhaseC}} V","layout":"row-right","x":1220,"y":1180,"wires":[]},{"id":"e7a619cf.bfc1c8","type":"ui_text","z":"a411128a.736db","group":"c7918267.4271f","order":2,"width":0,"height":0,"name":"","label":"Corrente:","format":"{{msg.payload[0].CurrentPhaseC}} A","layout":"row-right","x":1220,"y":1220,"wires":[]},{"id":"c53b2a0f.68e5d8","type":"ui_text","z":"a411128a.736db","group":"c7918267.4271f","order":3,"width":0,"height":0,"name":"","label":"Fator de Potência:","format":"{{msg.payload[0].PowerFactor_C}}","layout":"row-right","x":1250,"y":1260,"wires":[]},{"id":"72561e5a.2a047","type":"ui_text","z":"a411128a.736db","group":"2f846e75.46c112","order":1,"width":0,"height":0,"name":"","label":"Tensão:","format":"{{msg.payload[0].VoltagePhaseB}} V","layout":"row-right","x":1220,"y":1020,"wires":[]},{"id":"41d161c6.e1a24","type":"ui_text","z":"a411128a.736db","group":"2f846e75.46c112","order":2,"width":0,"height":0,"name":"","label":"Corrente:","format":"{{msg.payload[0].CurrentPhaseB}} A","layout":"row-right","x":1220,"y":1060,"wires":[]},{"id":"cb334df1.9d242","type":"ui_text","z":"a411128a.736db","group":"2f846e75.46c112","order":3,"width":0,"height":0,"name":"","label":"Fator de Potência:","format":"{{msg.payload[0].PowerFactor_B}}","layout":"row-right","x":1250,"y":1100,"wires":[]},{"id":"34abbeb1.608092","type":"ui_text","z":"a411128a.736db","group":"4ef3b77c.458f58","order":5,"width":0,"height":0,"name":"","label":"Valor Medido: ","format":"{{msg.payload[0].Current}} A","layout":"row-right","x":980,"y":1100,"wires":[]},{"id":"a9e0bf2e.3c01a","type":"ui_text","z":"a411128a.736db","group":"4ef3b77c.458f58","order":5,"width":0,"height":0,"name":"","label":"Fase:","format":"{{msg.payload[0].Phase}}","layout":"row-right","x":950,"y":1140,"wires":[]},{"id":"f44f849d.8fee08","type":"trigger","z":"a411128a.736db","op1":"OperationType","op2":"OperationType","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2751,"wires":[["881efc01.b581"]]},{"id":"881efc01.b581","type":"ui_dropdown","z":"a411128a.736db","name":"","label":"Operação:","tooltip":"","place":"Select option","group":"766e0bf.67d67f4","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Automático","value":"Automatic","type":"str"},{"label":"Manual","value":"Manual","type":"str"}],"payload":"","topic":"","x":850,"y":2751,"wires":[["53bf7260.88aa1c"]]},{"id":"53bf7260.88aa1c","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"OperationType","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2751,"wires":[[]]},{"id":"e9c5d105.db4b6","type":"function","z":"a411128a.736db","name":"Update Configuration/Operation","func":"/*\n    Neste código, as variáveis globais são \n    requisitadas e utilizadas para dar um update no banco de dados\n    de forma a salvar as informações inseridas pelo usuario\n    caso o usuario especifique, altera-se também o modo de operação para \n    manual ou automático: \n    manual - ligamento/desligamento de circuitos pode ser feito manualmente e não há chaveamento automático;\n    automático - ligamento/desligamento de circuitos não pode ser feito apenas pelas regras de chaveamento automático;\n*/\n\nvar autonomy = flow.get(\"Autonomy\");\nvar level1 = flow.get(\"Level1\");\nvar level2 = flow.get(\"Level2\");\nvar level3 = flow.get(\"Level3\");\nvar level4 = flow.get(\"Level4\");\nvar ongrid = flow.get(\"OnGrid\");\nvar offgrid = flow.get(\"OffGrid\");\nvar NameCircuit1 = flow.get(\"NameCircuit1\");\nvar NameCircuit2 = flow.get(\"NameCircuit2\");\nvar NameCircuit3 = flow.get(\"NameCircuit3\");\nvar NameCircuit4 = flow.get(\"NameCircuit4\");\nvar StartPeakHour = flow.get(\"StartPeakHour\");\nvar EndPeakHour = flow.get(\"EndPeakHour\");\nvar ActivePriceNonPeakHour = flow.get(\"ActivePriceNonPeakHour\");\nvar ReactivePriceNonPeakHour = flow.get(\"ReactivePriceNonPeakHour\");\nvar ActivePricePeakHour = flow.get(\"ActivePricePeakHour\");\nvar ReactivePricePeakHour = flow.get(\"ReactivePricePeakHour\");\nvar RevenueDay = flow.get(\"RevenueDay\");\nvar OperationType = flow.get(\"OperationType\");\nvar PriceHiredPowerHP = flow.get(\"PriceHiredPowerHP\");\nvar PriceHiredPowerHFP = flow.get(\"PriceHiredPowerHFP\");\nvar PriceExceededPowerHFP = flow.get(\"PriceExceededPowerHFP\");\nvar PriceExceededPowerHP = flow.get(\"PriceExceededPowerHP\");\nvar HiredPower = flow.get(\"HiredPower\");\nvar SwitchingControlType = flow.get(\"SwitchingControlType\");\nvar PercentagePeakShavingHiredPower = flow.get(\"PercentagePeakShavingHiredPower\");\n\n\n//salvo a quantidade de minutos do dia\nongrid = ongrid/(1000*60);\noffgrid = offgrid/(1000*60);\n\nStartPeakHour= StartPeakHour/(1000*60);\nEndPeakHour = EndPeakHour/(1000*60);\n\n\n// altera o status de operação para manual\nif (OperationType == \"Manual\")\n{\n    msg.topic = \"insert into Operation \" +  \n                    \" (Datetime, Status, PriorityLevel, GeneralInfo)  \" +  \n                    \" select now(), 'Manual', '4', 'Manual mode'  \" +  \n                    \"       from Configuration where OperationType = 'Automatic' Limit 1;\";\n}\nelse // altera o status de operação para automático e liga os circuitos que estavam habilitados\n{\n    msg.topic = \"insert into Operation (Datetime, Status, PriorityLevel, GeneralInfo) select now(), 'On-Grid', '4', 'Return to on-grid mode from Manual mode' from Configuration where OperationType = 'Manual' Limit 1;\";\n    msg.topic = msg.topic + \"insert into HistoryCircuit (CircuitId, Datetime, Action) select 1,now(),'Enabled' from HistoryCircuit where CircuitId = 1 and Id=(select max(Id) from HistoryCircuit where CircuitId=1) and Action='Disabled';\";\n    msg.topic = msg.topic + \"insert into HistoryCircuit (CircuitId, Datetime, Action) select 2,now(),'Enabled' from HistoryCircuit where CircuitId = 2 and Id=(select max(Id) from HistoryCircuit where CircuitId=2) and Action='Disabled';\";\n    msg.topic = msg.topic + \"insert into HistoryCircuit (CircuitId, Datetime, Action) select 3,now(),'Enabled' from HistoryCircuit where CircuitId = 3 and Id=(select max(Id) from HistoryCircuit where CircuitId=3) and Action='Disabled';\";\n    msg.topic = msg.topic + \"insert into HistoryCircuit (CircuitId, Datetime, Action) select 4,now(),'Enabled' from HistoryCircuit where CircuitId = 4 and Id=(select max(Id) from HistoryCircuit where CircuitId=4) and Action='Disabled';\";\n}\n\n//salva as informações de configuração no banco de dados\n\nmsg.topic = msg.topic + \" update \" +\n                            \" Configuration \" +\n                        \" set \" +\n                        \" MinTimeAutonomy = \" + autonomy +\n                        \", StartComutationOn_Off = \" + offgrid+\n                        \", StartComutationOFF_On = \" + ongrid+\n                        \", Level_1_Shutdown = \" + level1 +\n                        \", Level_2_Shutdown = \" + level2 +\n                        \", Level_3_Shutdown = \" + level3 +\n                        \", Level_4_Shutdown = \" + level4 +\n                        \", Circuit1Name = '\" + NameCircuit1 +\n                        \"', Circuit2Name = '\" + NameCircuit2 +\n                        \"', Circuit3Name = '\" + NameCircuit3 +\n                        \"', Circuit4Name = '\" + NameCircuit4 + \n                        \"', StartPeakHour = \" + StartPeakHour +\n                        \", EndPeakHour = \" + EndPeakHour +\n                        \", ActivePriceNonPeakHour = \" + ActivePriceNonPeakHour +\n                        \", ReactivePriceNonPeakHour = \" + ReactivePriceNonPeakHour +\n                        \", ActivePricePeakHour = \" + ActivePricePeakHour +\n                        \", ReactivePricePeakHour = \" + ReactivePricePeakHour +\n                        \", RevenueDay = \" + RevenueDay +\n                        \", OperationType = '\" + OperationType + \n                        \"', PriceHiredPowerHP = \"+PriceHiredPowerHP+\n                        \", PriceHiredPowerHFP = \"+PriceHiredPowerHFP+\n                        \", PriceExceededPowerHFP = \"+PriceExceededPowerHFP +\n                        \", PriceExceededPowerHP = \"+PriceExceededPowerHP +\n                        \", HiredPower = \"+HiredPower+\n                        \", SwitchingControlType = '\"+SwitchingControlType +\n                        \"', PercentagePeakShavingHiredPower = \" +PercentagePeakShavingHiredPower+ \";\";\n                        \n                        \n//envia as query construídas para execução no banco\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":3220,"wires":[["b7f209a3.d8e758"]]},{"id":"b7f209a3.d8e758","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":620,"y":3220,"wires":[[]]},{"id":"9913789a.cbf848","type":"ui_button","z":"a411128a.736db","name":"botaoDesabilitarHabilitarCircuito","group":"67c9ccf4.48b8d4","order":0,"width":0,"height":0,"passthru":false,"label":"{{message}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1610,"y":1300,"wires":[["a0fe84fd.50aa38"]]},{"id":"dd692d05.125fa","type":"function","z":"a411128a.736db","name":"QueryVerificaEstadoRedeCircuito","func":"// verifica o status atual do circuito e a operação da rede para habilitar ou desabilitar o circuito\n\nflow.set(\"StatusAtualCircuito\",msg.payload[0].status);\nflow.set(\"OperationTypeCircuit\",msg.payload[0].OperationType);\n\nif (msg.payload[0].status == \"Disabled\"){\n    msg.message = \"Habilitar Circuito\"\n}\nelse\n{\n    msg.message = \"Desabilitar Circuito\"\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":1300,"wires":[["9913789a.cbf848"]]},{"id":"6eb4ca7a.ca1a54","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":2100,"y":1300,"wires":[[]]},{"id":"a0fe84fd.50aa38","type":"function","z":"a411128a.736db","name":"InsertEstadoCircuito","func":"var statusatual = flow.get(\"StatusAtualCircuito\");\nvar OperationType = flow.get(\"OperationTypeCircuit\");\nvar CircuitoEscolhido = flow.get(\"CircuitoEscolhido\");\n\nif (OperationType == \"Manual\")\n{\n    if (statusatual == \"Disabled\")\n    {\n        msg.topic = \"Insert into HistoryCircuit (CircuitId, Datetime, Action) values (\"+CircuitoEscolhido+\",now(),'Enabled');\";\n    }\n    else\n    {\n        msg.topic = \"Insert into HistoryCircuit (CircuitId, Datetime, Action) values (\"+CircuitoEscolhido+\",now(),'Disabled');\";\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1880,"y":1300,"wires":[["6eb4ca7a.ca1a54"]]},{"id":"6250aa50.7f0114","type":"comment","z":"a411128a.736db","name":"Menu Inicial","info":"","x":70,"y":4320,"wires":[]},{"id":"1a59f240.134a0e","type":"function","z":"a411128a.736db","name":"Value_Atrib","func":"/*\n    Insere dados default e recebidos pela query \n    nas variáveis globais (tipo flow)\n    \n    os componentes a direita apresenta a lista de relatórios\n    que podem ser gerados.\n*/\n\nflow.set(\"TipoRelatorio\",1);\nflow.set(\"DataInicio\",msg.payload[0].data);\nflow.set(\"DataFim\",msg.payload[0].data);\nflow.set(\"Circuit1Name\",msg.payload[0].Circuit1Name);\nflow.set(\"Circuit2Name\",msg.payload[0].Circuit2Name);\nflow.set(\"Circuit3Name\",msg.payload[0].Circuit3Name);\nflow.set(\"Circuit4Name\",msg.payload[0].Circuit4Name);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":4400,"wires":[["7ff580a6.5a43c"]]},{"id":"7ff580a6.5a43c","type":"trigger","z":"a411128a.736db","op1":"TipoRelatorio","op2":"TipoRelatorio","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":760,"y":4400,"wires":[["71b4ea28.bfa004"]]},{"id":"71b4ea28.bfa004","type":"ui_dropdown","z":"a411128a.736db","name":"","label":"Relatório:","tooltip":"","place":"Select option","group":"6ac6b4b0.48029c","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Carga de Bateria","value":"1","type":"str"},{"label":"Descarga de Bateria","value":"2","type":"str"},{"label":"Nivel de Bateria","value":"3","type":"str"},{"label":"Consumo Diário por Circuito","value":"4","type":"str"},{"label":"Consumo Horário do dia","value":"5","type":"str"},{"label":"Status de Operação","value":"6","type":"str"}],"payload":"","topic":"","x":940,"y":4400,"wires":[["3c1a2a65.7a7576"]]},{"id":"3c1a2a65.7a7576","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"TipoRelatorio","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":4400,"wires":[[]]},{"id":"e8912b4a.970a88","type":"comment","z":"a411128a.736db","name":"Relatórios","info":"","x":260,"y":4320,"wires":[]},{"id":"d8f2abeb.c348d8","type":"ui_date_picker","z":"a411128a.736db","name":"","label":"Data Início:","group":"6ac6b4b0.48029c","order":3,"width":0,"height":0,"passthru":true,"topic":"","x":930,"y":4460,"wires":[["5b63c973.e55b18"]]},{"id":"e5d1a8a3.adcf98","type":"ui_date_picker","z":"a411128a.736db","name":"","label":"Data Final:","group":"6ac6b4b0.48029c","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":930,"y":4540,"wires":[["458a0764.056588"]]},{"id":"5b63c973.e55b18","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"DataInicio","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":4460,"wires":[[]]},{"id":"458a0764.056588","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"DataFim","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":4540,"wires":[[]]},{"id":"3fee63f3.5eeabc","type":"ui_button","z":"a411128a.736db","name":"","group":"6ac6b4b0.48029c","order":5,"width":0,"height":0,"passthru":false,"label":"Emitir Relatório","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":200,"y":4680,"wires":[["c6fec534.0914f8","3a428380.23e52c","a21c545b.db9648"]]},{"id":"60f880b2.858a5","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":540,"y":4680,"wires":[["87472a37.a4ec08","ad1dd7d.db98228"]]},{"id":"c6fec534.0914f8","type":"function","z":"a411128a.736db","name":"select","func":"/*\n    Quando o botão 'emitir relatorio' é clicado,\n    o codigo abaixo é executado, buscando o tipo de relatorio\n    selecionado e os parâmetros definidos. Por fim, o gráfico/tabela\n    é preenchido conforme os resultados da busca\n\n*/\n\nvar TipoRelatorio = flow.get(\"TipoRelatorio\")\nvar DataInicio = flow.get(\"DataInicio\")\nvar DataFim = flow.get(\"DataFim\")\n\nvar d = new Date(DataInicio);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nflow.set('DataInicio',year +\"-\"+ monthformat +\"-\"+ day);\n\nd = new Date(DataFim);\nday = d.getDate();\nmonth = d.getMonth();\nmonthformat = month + 1;\nyear = d.getFullYear();\nflow.set('DataFim',year +\"-\"+ monthformat +\"-\"+ day);\n\nif (TipoRelatorio == 1) //Carga de bateria\n{\n    msg.topic = \"select StateCurrent, StatePower, concat(day(Datetime),'-',month(Datetime),'-',Year(Datetime),' ',Hour(Datetime),':',case when Minute(Datetime) < 10 then concat('0',Minute(Datetime)) else Minute(Datetime) end ) date from HistoryBattery where date(datetime) >= '\"+DataInicio+\"' and date(Datetime) <= '\"+DataFim+\"' and State = 'Charging' order by datetime;\";\n}\nelse if (TipoRelatorio == 2) //Descarga de bateria\n{\n    msg.topic = \"select StateCurrent, StatePower, concat(day(Datetime),'-',month(Datetime),'-',Year(Datetime),' ',Hour(Datetime),':',case when Minute(Datetime) < 10 then concat('0',Minute(Datetime)) else Minute(Datetime) end ) date from HistoryBattery where date(datetime) >= '\"+DataInicio+\"' and date(Datetime) <= '\"+DataFim+\"' and State = 'Discharging' order by datetime;\";\n}\nelse if (TipoRelatorio == 3) //nivel de bateria\n{\n    msg.topic = \"select 100*round(StateOfCharge/(Select TotalEnergy from Battery),2) charge, concat(day(Datetime),'-',month(Datetime),'-',Year(Datetime),' ',Hour(Datetime),':',case when Minute(Datetime) < 10 then concat('0',Minute(Datetime)) else Minute(Datetime) end ) date from HistoryBattery where date(datetime) >= '\"+DataInicio+\"' and date(Datetime) <= '\"+DataFim+\"' order by datetime;\";\n}\nelse if (TipoRelatorio == 4) //consumo diario por circuito\n{\n    msg.topic = \"select CircuitId, Round(sum(ActivePower*5/3600)/1000,2) ActiveEnergy_kWh, concat(if(day(Datetime)<10,concat('0',day(datetime)),day(datetime)),'-',if(month(Datetime)<10,concat('0',month(datetime)),month(datetime)),'-',year(Datetime)) dia from Measure where date(datetime) >= '\"+DataInicio+\"' and date(Datetime) <= '\"+DataFim+\"' group by CircuitId, day(Datetime) order by datetime, CircuitId;\";\n}\nelse if (TipoRelatorio == 5) //consumo horário por circuito\n{\n    msg.topic = \" select round(sum(PriceActive),2) priceActive, round(sum(PriceReactive),2) pricereactive, hour from (select ActiveEnergy*if(startPeak>time,HfpPriceActive, if(endPeak>time,HpPriceActive,HfpPriceActive)) PriceActive, ActiveEnergy*(0.92/(ActiveEnergy/sqrt(pow(ReactiveEnergy,2)+pow(ActiveEnergy,2)))-1)*if(startPeak>time,HfpPriceReactive,if(endPeak>time,HpPriceReactive,HfpPriceReactive)) PriceReactive, hour from (select ActivePower*5/(3600*1000) ActiveEnergy, ReactivePower*5/(3600*1000) ReactiveEnergy, Hour(Datetime) hour, (select StartPeakHour from Configuration) startPeak, (select endPeakHour From Configuration) endPeak, (select ActivePricePeakHour from Configuration) HpPriceActive, (select ActivePriceNonPeakHour from Configuration) HfpPriceActive, (select ReactivePriceNonPeakHour from Configuration) HfpPriceReactive, (select ReactivePricePeakHour from Configuration) HpPriceReactive, Hour(Datetime)*60+Minute(Datetime) time from Measure where Date(Datetime)='\"+DataInicio+\"') as t) as t group by hour order by hour;\";\n}\nelse if (TipoRelatorio == 6) //status de operaçao por circuito\n{\n    msg.topic = \"select PriorityLevel, Status, concat(day(Datetime),'-',month(Datetime),'-',Year(Datetime),' ',Hour(Datetime),':',case when Minute(Datetime) < 10 then concat('0',Minute(Datetime)) else Minute(Datetime) end ) Datetime from Operation where date(datetime) >= '\"+DataInicio+\"' and date(Datetime) <= '\"+DataFim+\"'order by Datetime;\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":4680,"wires":[["60f880b2.858a5","2d58e5b6.69f35a"]]},{"id":"87472a37.a4ec08","type":"function","z":"a411128a.736db","name":"datatreatment_Graph","func":"/*\n    Com os resultados da query, esta função realiza\n    a correta construção da tabela ou gráfico, conforme\n    selecionado pelo usuario\n\n*/\n\n\n//cria cinco vetores;\nvar m = {};\nvar m2 = {};\nvar m3 = {};\nvar m4 = {};\nvar m5 = {};\n\n//defino os nomes de cada circuito, recebendo o valor das variáveis globais\nvar Circuit1Name = flow.get(\"Circuit1Name\");\nvar Circuit2Name = flow.get(\"Circuit2Name\");\nvar Circuit3Name = flow.get(\"Circuit3Name\");\nvar Circuit4Name = flow.get(\"Circuit4Name\");\n\n// recebe o tipo de relatorio que foi solicitado\nvar TipoRelatorio = flow.get(\"TipoRelatorio\");\n\n// recebe o numero de registros retornados pela query\nvar arrayLength = msg.payload.length;\n\n//inicio variavel de contagem\nvar i = 0;\n\n\n/*em cada tipo de relatorio, construo a estrutura\nem que os dados serão entendidos pelo gráfico. Caso seja uma\ninformação que é apresentada em tabela, a função nao faz nada\n*/\nif (TipoRelatorio == 1) //carga de bateria\n{\n   \n    m2.series = [\"Potência - W\"];\n    m2.data = [[msg.payload[0].StatePower]];\n    m2.labels = [msg.payload[0].date];\n    \n    for (i = 1; i < arrayLength; i++) {\n    \n        m2.labels.push(msg.payload[i].date);\n        m2.data[0].push(msg.payload[i].StatePower);\n    }\n   \n    msg.payload = [{\n    \"series\": [m2.series[0] ],\n    \"data\": [m2.data[0] ],\n    \"labels\":  m2.labels}]\n    \n    msg.topic = \"Carga de Bateria\";\n    \n    return msg;\n    \n    \n}\nelse if (TipoRelatorio == 2) //descarga de bateria\n{\n    m2.series = [\"Potência - W\"];\n    m2.data = [[msg.payload[0].StatePower]];\n    m2.labels = [msg.payload[0].date];\n    \n    for (i = 1; i < arrayLength; i++) {\n        m2.labels.push(msg.payload[i].date);\n        m2.data[0].push(msg.payload[i].StatePower);\n    }\n   \n    msg.payload = [{\n    \"series\": [m2.series[0] ],\n    \"data\": [m2.data[0] ],\n    \"labels\":  m2.labels}]\n    \n    msg.topic = \"Descarga de Bateria\";\n    \n    return msg;\n}\nelse if (TipoRelatorio == 3) //nivel de bateria\n{\n    m.series = [\"Carga - %\"];\n    m.data = [[msg.payload[0].charge]];\n    m.labels = [msg.payload[0].date];\n    \n    for (i = 1; i < arrayLength; i++) {\n        m.labels.push(msg.payload[i].date);\n        m.data[0].push(msg.payload[i].charge);\n    }\n    msg.topic = \"Estado de Carga da Bateria (%)\";\n    return {payload:[m],topic:msg.topic};\n}\nelse if (TipoRelatorio == 4) //consumo diario por circuito\n{\n    m.series = [Circuit1Name+\" - kWh\"];\n    m.data = [[0]];\n    m.labels = [0];\n    \n    m2.series = [Circuit2Name+\" - kWh\"];\n    m2.data = [[0]];\n    m2.labels = [0];\n    \n    m3.series = [Circuit3Name+\" - kWh\"];\n    m3.data = [[0]];\n    m3.labels = [0];\n    \n    \n    m4.series = [Circuit4Name+\" - kWh\"];\n    m4.data = [[0]];\n    m4.labels = [0];\n    \n    m5.series = [\"Total - kWh\"];\n    m5.data = [[0]];\n    m5.labels = [0];\n    \n   \n    for (i = 0; i < arrayLength; i++) {\n        m.labels.push(msg.payload[i].dia);\n        \n        m.data[0].push(msg.payload[i].ActiveEnergy_kWh);\n        m2.data[0].push(msg.payload[i+1].ActiveEnergy_kWh);   \n        m3.data[0].push(msg.payload[i+2].ActiveEnergy_kWh);\n        m4.data[0].push(msg.payload[i+3].ActiveEnergy_kWh);\n        m5.data[0].push(parseFloat(msg.payload[i+3].ActiveEnergy_kWh+msg.payload[i].ActiveEnergy_kWh+msg.payload[i+1].ActiveEnergy_kWh+msg.payload[i+2].ActiveEnergy_kWh).toFixed(2));\n         i = i + 3;\n    }\n    \n    \n    msg.payload = [{\n    \"series\": [m.series[0], m2.series[0], m3.series[0], m4.series[0],m5.series[0] ],\n    \"data\": [ m.data[0],  m2.data[0], m3.data[0], m4.data[0],  m5.data[0] ],\n    \"labels\":  m.labels}]\n    \n    msg.topic = \"Consumo diário\";\n    \n    return msg;\n}\nelse if (TipoRelatorio == 2) //descarga de bateria\n{\n    m.series = [\"Corrente - A\"];\n    m.data = [[msg.payload[0].StateCurrent]];\n    m.labels = [msg.payload[0].date];\n    \n    m2.series = [\"Potência - W\"];\n    m2.data = [[msg.payload[0].StatePower]];\n    m2.labels = [msg.payload[0].date];\n    \n    for (i = 1; i < arrayLength; i++) {\n        m.labels.push(msg.payload[i].date);\n        m.data[0].push(msg.payload[i].StateCurrent);\n        m2.labels.push(msg.payload[i].date);\n        m2.data[0].push(msg.payload[i].StatePower);\n    }\n   \n    msg.payload = [{\n    \"series\": [m.series[0], m2.series[0] ],\n    \"data\": [ m.data[0],  m2.data[0] ],\n    \"labels\":  m2.labels}]\n    \n    msg.topic = \"Descarga de Bateria\";\n    \n    return msg;\n}\nelse if (TipoRelatorio == 5) //consumo hoário no dia\n{\n    m.series = [\"Custo - E. Ativa\"];\n    m.data = [[msg.payload[0].priceActive]];\n    m.labels = [msg.payload[0].hour];\n    \n    m2.series = [\"Custo - E. Reativa\"];\n    m2.data = [[msg.payload[0].pricereactive]];\n    m2.labels = [msg.payload[0].hour];\n    \n    for (i = 1; i < arrayLength; i++) {\n        m.labels.push(msg.payload[i].hour);\n        m.data[0].push(msg.payload[i].priceActive);\n        m2.labels.push(msg.payload[i].hour);\n        m2.data[0].push(msg.payload[i].pricereactive);\n    }\n   \n    msg.payload = [{\n    \"series\": [m.series[0], m2.series[0] ],\n    \"data\": [ m.data[0],  m2.data[0] ],\n    \"labels\":  m2.labels}]\n    \n    msg.topic = \"Custo Horário com Energia\";\n    \n    return msg;\n}\nelse if (TipoRelatorio == 6) //status de operação\n{\n    return {payload:[]};\n}\n","outputs":1,"noerr":0,"x":760,"y":4680,"wires":[["b039661b.2c89c8"]]},{"id":"7f14a9ff.bfdf18","type":"function","z":"a411128a.736db","name":"Query-name circuitos","func":"// envia query para receber o nome dos circuitos da rede\n\nmsg.topic = \"select Circuit1Name, Circuit2Name, Circuit3Name, Circuit4Name, date(now()) data from Configuration;\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":4400,"wires":[["31ae2357.d2d0ec"]]},{"id":"31ae2357.d2d0ec","type":"mysql","z":"a411128a.736db","mydb":"897f76ab.580258","name":"CC_Grid","x":400,"y":4400,"wires":[["1a59f240.134a0e"]]},{"id":"f729582.92a77a8","type":"ui_template","z":"a411128a.736db","group":"e1c115e4.93a0a8","name":"","order":1,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr  align=\"center\" >\n    <th>Data-Hora</th>\n    <th>Estado</th> \n    <th>Nível Prioridade</th> \n  </tr>\n  <tr  align=\"center\" ng-repeat=\"x in msg.payload | limitTo:100\">\n    <td>{{msg.payload[$index].Datetime}}</td>\n    <td>{{msg.payload[$index].Status}}</td> \n    <td>{{msg.payload[$index].PriorityLevel}}</td> \n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":4740,"wires":[[]]},{"id":"ad1dd7d.db98228","type":"function","z":"a411128a.736db","name":"datatreatment_table","func":"\n/*\nconstruo a estrutura\nem que os dados serão entendidos pelo gráfico. Caso seja uma\ninformação que é apresentada em tabela, a função nao faz nada\n*/\n\nvar m = {};\nvar m2 = {};\nvar m3 = {};\nvar m4 = {};\nvar m5 = {};\n\nvar Circuit1Name = flow.get(\"Circuit1Name\");\nvar Circuit2Name = flow.get(\"Circuit2Name\");\nvar Circuit3Name = flow.get(\"Circuit3Name\");\nvar Circuit4Name = flow.get(\"Circuit4Name\");\n\nvar TipoRelatorio = flow.get(\"TipoRelatorio\");\n\nvar arrayLength = msg.payload.length;\n\nvar i = 0;\n\nif (TipoRelatorio == 6) //status de operação\n{\n    return msg;\n}\nelse\n{\n     return {payload:[]};\n}\n\n","outputs":1,"noerr":0,"x":760,"y":4740,"wires":[["f729582.92a77a8"]]},{"id":"25bac1e8.6bc1ae","type":"ui_ui_control","z":"a411128a.736db","name":"","x":520,"y":4860,"wires":[[]]},{"id":"3a428380.23e52c","type":"function","z":"a411128a.736db","name":"select","func":"/*\n    Quando o botão é clicado, realiza-se o controle\n    de visibilidade do gráfico e tabela para deixar apenas\n    o componente utilizado viśivel para o usuario.\n*/\n\nvar TipoRelatorio = flow.get(\"TipoRelatorio\")\n\n//recebe o tipo de relatorio utilizado e exibe/esconde o gráfico\nif (TipoRelatorio == 6) \n{\n    msg.payload = {\"group\":{\"hide\":[\"Histórico_BarChart\"]}};\n}\nelse\n{\n    msg.payload = {\"group\":{\"show\":[\"Histórico_BarChart\"]}};\n}\n\n\n//o ui_control executa a função escrita no payload\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":4860,"wires":[["25bac1e8.6bc1ae"]]},{"id":"a21c545b.db9648","type":"function","z":"a411128a.736db","name":"select","func":"/*\n    Quando o botão é clicado, realiza-se o controle\n    de visibilidade do gráfico e tabela para deixar apenas\n    o componente utilizado viśivel para o usuario.\n*/\n\nvar TipoRelatorio = flow.get(\"TipoRelatorio\")\n\n//recebe o tipo de relatorio utilizado e exibe/esconde a tabela\n\nif (TipoRelatorio == 6) \n{\n    msg.payload = {\"group\":{\"show\":[\"Histórico_Table\"]}};\n}\nelse\n{\n    msg.payload = {\"group\":{\"hide\":[\"Histórico_Table\"]}};\n}\n\n//o ui_control executa a função escrita no payload\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":4920,"wires":[["818624eb.6c6408"]]},{"id":"818624eb.6c6408","type":"ui_ui_control","z":"a411128a.736db","name":"","x":520,"y":4920,"wires":[[]]},{"id":"e6eedc86.66287","type":"comment","z":"a411128a.736db","name":"Fase A","info":"","x":1210,"y":820,"wires":[]},{"id":"e2f128bf.fe79b8","type":"comment","z":"a411128a.736db","name":"Fase B","info":"","x":1210,"y":980,"wires":[]},{"id":"4c305f9.5bf71a","type":"comment","z":"a411128a.736db","name":"Fase C","info":"","x":1209,"y":1140,"wires":[]},{"id":"cbe2a26e.38bc","type":"ui_ui_control","z":"a411128a.736db","name":"","events":"all","x":440,"y":4980,"wires":[[]]},{"id":"3893b660.a9953a","type":"ui_button","z":"a411128a.736db","name":"","group":"6ac6b4b0.48029c","order":6,"width":0,"height":0,"passthru":false,"label":"Voltar ao Menu Inicial","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":220,"y":4980,"wires":[["cbe2a26e.38bc"]]},{"id":"297ce0e1.c4b5d","type":"trigger","z":"a411128a.736db","op1":"PriceHiredPowerHFP","op2":"PriceHiredPowerHFP","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":3040,"wires":[["4228441.fbeadbc"]]},{"id":"4228441.fbeadbc","type":"ui_text_input","z":"a411128a.736db","name":"Pot Contratada HFP","label":"Contratada - Fora de Ponta (R$/kW)","tooltip":"","group":"acc16daf.c164d","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":880,"y":3040,"wires":[["604abe9a.c94e6"]]},{"id":"604abe9a.c94e6","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"PriceHiredPowerHFP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":3040,"wires":[[]]},{"id":"f9e8ca.22c68738","type":"trigger","z":"a411128a.736db","op1":"PriceHiredPowerHP","op2":"PriceHiredPowerHP","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":3076,"wires":[["a4ede8.4c525218"]]},{"id":"a4ede8.4c525218","type":"ui_text_input","z":"a411128a.736db","name":"Pot Contratada HP","label":"Contratada  - Hora de Ponta (R$/kW)","tooltip":"","group":"acc16daf.c164d","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":870,"y":3076,"wires":[["fc6f77e6.1f86e8"]]},{"id":"fc6f77e6.1f86e8","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"PriceHiredPowerHP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":3076,"wires":[[]]},{"id":"91165cdc.2a5aa","type":"trigger","z":"a411128a.736db","op1":"PriceExceededPowerHP","op2":"PriceExceededPowerHP","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":3111,"wires":[["4323cd3.9210a34"]]},{"id":"4323cd3.9210a34","type":"ui_text_input","z":"a411128a.736db","name":"Pot Ultrap HP","label":"Ultrapassagem - Hora de Ponta (R$/kW)","tooltip":"","group":"acc16daf.c164d","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":860,"y":3111,"wires":[["a875127a.f9fcb"]]},{"id":"a875127a.f9fcb","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"PriceExceededPowerHP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":3111,"wires":[[]]},{"id":"2236ab1d.c170c4","type":"trigger","z":"a411128a.736db","op1":"PriceExceededPowerHFP","op2":"PriceExceededPowerHFP","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":3146,"wires":[["54af91be.842c5"]]},{"id":"54af91be.842c5","type":"ui_text_input","z":"a411128a.736db","name":"Pot Ultrap HFP","label":"Ultrapassagem - Fora de Ponta (R$/kW)","tooltip":"","group":"acc16daf.c164d","order":9,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":860,"y":3146,"wires":[["a4ce33a5.09968"]]},{"id":"a4ce33a5.09968","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"PriceExceededPowerHFP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":3146,"wires":[[]]},{"id":"81303f1.dda0dc","type":"ui_text","z":"a411128a.736db","group":"acc16daf.c164d","order":5,"width":0,"height":0,"name":"","label":"Custo de Demanda:","format":"","layout":"row-center","x":738,"y":3000,"wires":[]},{"id":"a125fe51.4bc4b","type":"trigger","z":"a411128a.736db","op1":"HiredPower","op2":"HiredPower","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2900,"wires":[["bee5bc29.c9c5e"]]},{"id":"bee5bc29.c9c5e","type":"ui_text_input","z":"a411128a.736db","name":"Pot Contratada","label":"Demanda Contratada","tooltip":"","group":"766e0bf.67d67f4","order":10,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":860,"y":2900,"wires":[["9fa53701.2b5028"]]},{"id":"9fa53701.2b5028","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"HiredPower","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2900,"wires":[[]]},{"id":"ea32f996.fa9178","type":"trigger","z":"a411128a.736db","op1":"PercentagePeakShavingHiredPower","op2":"PercentagePeakShavingHiredPower","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2936,"wires":[["735bea0e.24e0e4"]]},{"id":"735bea0e.24e0e4","type":"ui_text_input","z":"a411128a.736db","name":"% peak shaving","label":"Percentual Peak Shaving","tooltip":"","group":"766e0bf.67d67f4","order":9,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":860,"y":2936,"wires":[["e9e012e1.28bb9"]]},{"id":"e9e012e1.28bb9","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"PercentagePeakShavingHiredPower","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":2936,"wires":[[]]},{"id":"c85986a5.fc0cc8","type":"ui_text","z":"a411128a.736db","group":"766e0bf.67d67f4","order":8,"width":0,"height":0,"name":"","label":"Peak Shaving:","format":"","layout":"row-center","x":720,"y":2820,"wires":[]},{"id":"364a7f23.9f3ef","type":"change","z":"a411128a.736db","name":"","rules":[{"t":"set","p":"SwitchingControlType","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":2860,"wires":[[]]},{"id":"59182f5e.21233","type":"ui_dropdown","z":"a411128a.736db","name":"","label":"Tipo Controle","tooltip":"","place":"Select option","group":"766e0bf.67d67f4","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Horário","value":"Chaveamento Horário","type":"str"},{"label":"Peak-shaving","value":"Peak-shaving","type":"str"}],"payload":"","topic":"","x":860,"y":2860,"wires":[["364a7f23.9f3ef"]]},{"id":"e6b38b13.dd2618","type":"trigger","z":"a411128a.736db","op1":"SwitchingControlType","op2":"SwitchingControlType","op1type":"flow","op2type":"flow","duration":"1","extend":false,"units":"s","reset":"true","bytopic":"all","name":"","x":700,"y":2860,"wires":[["59182f5e.21233"]]},{"id":"2d58e5b6.69f35a","type":"debug","z":"a411128a.736db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":4860,"wires":[]},{"id":"b039661b.2c89c8","type":"ui_chart","z":"a411128a.736db","name":"","group":"f9711321.c205","order":1,"width":0,"height":0,"label":"{{msg.topic}}","chartType":"bar","legend":"false","xformat":"M-D-Y HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":4680,"wires":[[]]}]